.comments{
    width: 100%;
    overflow-y: auto;
    background: lightblue;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.comments .oneComment{
    background: rgba(255,255,255,0.5);
    width: 80%;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.8) ;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    cursor: pointer;;
}
.comments .oneComment p{
    width: 40%;
    text-align: left;
    padding: 10px;
}